.aboutContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about{
    margin-top: 70px !important;
    width: 250px;
    margin: auto;
    border-bottom: 3px solid black;
}

.abouthero{
    width: 100%;
    height: 70vh;
    background-color: antiquewhite;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../../images/atwa-about.jpeg') no-repeat top center;
    background-size: cover;
}
.hi{
    font-weight: bold;
    font-size: 1.2rem;
    
    color: black;
    text-align: start;
    display: flex;
    justify-content: flex-start;

    
    margin: auto;
}

.textt{
    width: 70%;
    min-height: 40vh;
    margin-left: 10vw;
    text-align: start;
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
}
.textt p{
font-size: 1.1rem;
line-height: 1.8;
color: rgb(73, 73, 73);
}

@media screen and (max-width: 600px){
    .abouthero{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../images/hero2.jpeg') no-repeat top top;
        height:70vh;
    }
    .textt p{
        font-size: 1rem;
        line-height: 1.7;
        color: rgb(73, 73, 73);
        }
        .about{
            margin-top: 15px !important;
            font-size: 24px;
            width: 150px;
        }
}